# Dossier de compilation Maven/Gradle
backend/target/
backend/build/

# Maven wrapper jar (pas besoin de versionner)
.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


.idea/
*.iws
*.iml
*.ipr


nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/


.vscode/


*.log
.DS_Store
Thumbs.db



# Node modules et build
Frontend/node_modules/
Frontend/dist/
Frontend/build/


Frontend/*.log


!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
